@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-background: #e3e6e6;
  --nav-background: #121821;
  --searchbox-color: #febd69;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: var(--main-background);
}

.container {
  height: 100%;
  width: 100%;
}

/* ============= Reusable Classes =========== */
.first-line {
  font-size: 12px;
  color: #bbb;
  font-weight: 500;
}

.second-line {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}

.ln-height {
  line-height: 1.1;
}

.border {
  padding: 2px 5px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.border:hover {
  border: 1px solid #ddd;
  cursor: pointer;
}

/* NOT TO SHOW */
.category,
.wishlist,
.deals,
.sell,
.location,
.sh-part-m,
.footer-part-sm {
  display: none;
}

/* ============== NAVBAR =============== */
nav {
    padding: 5px 10px;
    width: 100%;
    background-color: var(--nav-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav * {
    margin: 0px 2px;
  }
  
  @media screen and (max-width: 1100px) {
    nav {
      padding: 15px 20px;
      flex-direction: column;
      align-items: start;
    }
  }
  
  nav .logo {
    display: flex;
    align-items: center;
    gap: 1px;
    color: white;
    font-size: 16px;
    position: relative;
    bottom: 6px;
  }
  
  nav .logo img {
    position: relative;
    width: 110px;
    top: 9px;
  }
  
  .set_location {
    padding: 10px 5px;
  }
  
  @media screen and (max-width: 1100px) {
    .set_location {
      order: 1;
    }
  }

  .set_location p:nth-child(1) {
    text-indent: 14px;
  }
  
  .search_box {
    position: relative;
    display: flex;
    height: 43px;
    width: 45vw;
  }
  
  @media screen and (min-width: 1700px) {
    .search_box {
      width: 70vw;
    }
  }
  
  @media screen and (min-width: 1650px) {
    .search_box {
      width: 60vw;
    }
  }
  
  @media screen and (min-width: 1600px) {
    .search_box {
      width: 50vw;
    }
  }
  
  @media screen and (max-width: 1420px) {
    .search_box {
      width: 350px;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .search_box {
      margin: 10px 0px;
      height: 60px;
      width: 100%;
    }
  }
  
  .search_box div:nth-child(1) {
    position: absolute;
    height: 100%;
    width: 50px;
    font-size: 12px;
    color: #444;
    font-weight: 500;
    background-color: #ddd;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .search_box input {
    padding-left: 60px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #111111;
    font-size: 15px;
  }
  
  .search_box input:focus {
    outline: 3px solid #ff822f;
  }
  
  .search_box .camera_search {
    position: absolute;
    right: 50px;
    height: 100%;
    width: 50px;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search_box .search {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: var(--searchbox-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .search:hover {
    background-color: #ffa52f;
    cursor: pointer;
  }
  
  .choose_country {
    padding: 10px 5px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  @media screen and (max-width: 1100px) {
    .choose_country {
      display: none;
    }
  }
  
  .choose_country .flag {
    position: relative;
    top: 3.6px;
  }
  
  .choose_country select {
    height: 20px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    outline: none;
  }
  
  .choose_country option {
    background-color: #fff;
    color: #000;
  }
  

  .ac_info {
    padding: 10px 5px;
  }
  
  @media screen and (max-width: 1100px) {
    .ac_info {
      display: none;
    }
  }
  
  .ac_info .first-line {
    color: #fff;
    font-weight: 400;
  }
  
  .ac_info i {
    opacity: 0.6;
    font-size: 10px;
  }
  
  .orders {
    padding: 10px 5px;
  }
  
  @media screen and (max-width: 1100px) {
    .orders {
      display: none;
    }
  }
  
  .orders .first-line {
    color: #fff;
    font-weight: 400;
  }
  
  .cart {
    padding: 10px 5px;
    display: flex;
    align-items: end;
    gap: 2px;
  }
  
  @media screen and (max-width: 1100px) {
    .cart {
      order: 2;
    }
  }
  
  .cart i {
    font-size: 30px;
    color: #fff;
  }
  
  /* ============== MENU BAR ============= */
  .menuBar {
    padding: 5px 15px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 1160px) {
    .menuBar {
      padding: 10px 15px;
    }
  }
  
  @media screen and (max-width: 700px) {
    .menuBar {
      display: none;
    }
  }
  
  .menuBar ul {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  @media screen and (max-width: 1160px) {
    .menuBar ul {
      gap: 6px;
    }
  }
  
  .menuBar i {
    font-size: 2.7vh;
    color: #fff;
    margin-right: 5px;
  }
  
  .menuBar a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 1160px) {
    .menuBar a {
      font-size: 13px;
    }
  }
  
  @media screen and (max-width: 1100px) {
  
    .menuBar a:nth-child(12),
    .menuBar a:nth-child(11),
    .menuBar a:nth-child(10),
    .menuBar a:nth-child(7),
    .menuBar a:nth-child(3) {
      display: none;
    }
  }
  
  .menuBar a:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
  }
  
  .menuBar a:nth-child(9) select {
    font-size: 14px;
    width: 66px;
    border: none;
    background: transparent;
    color: #fff;
  }
  
  /* QUICK LINK */
  .quickLink {
    padding: 5px 30px;
    border-bottom: 0.3vh solid #eee;
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 1100px) {
    .quickLink {
      display: none;
    }
  }
  
  .quickLink ul {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .quickLink h2 {
    font-size: 18px;
    margin: 0px 20px;
  }
  
  .quickLink a {
    text-decoration: none;
    color: #111;
    font-size: 16px;
  }
  
  .quickLink a:hover {
    text-decoration: 2px rgb(255, 89, 0) underline;
    cursor: pointer;
  }

